*{
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin: auto;
}
body{
    font-family: "Alegreya", system-ui;
}
p{
    font-family: "Alegreya Sans", system-ui;
    color: rgb(104, 104, 104);
}
#home p{
    color: white;
}
a{
    text-decoration: none;
}
span,button{
    font-family: "Alegreya Sans", system-ui;
    color: white;
}
#home a{
    color: white;
}
.logo,.nav-list{
    display: inline-block;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.logo img{
    width: 120px;
}
.nav-list li{
    display: inline-block;
    margin: 10px;
}
.nav-list{
    margin-left: 100px;
    padding-left: 100px;
}
#home{
    background-image: url("/assignment 3/images/drew-coffman-1872.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: white;
}
.home-caption{
    text-align: center;
    margin-top: 120px;
}
.home-caption h1{
    font-size: 76px;
    font-weight: 400;
}
.btn1{
    background-color: #8E7754;
    color: white;
    padding: 10px;
    border-color: transparent;
}
.home-btn{
    margin-top: 10px;
}
#home p{
    line-height: 25x;
}
.btn2{
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
.outer{
    width: 20px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
}
.animation{
    width: fit-content;
    margin: 10px auto;
}
.inner{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 5px 0 0 5px;
    
}