body {
    margin: 0;
    padding: 0; 
    height: 100vh; 
}

.parent {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 1fr 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "iphone-txt iphone-txt iphone-txt iphone-pic iphone-pic iphone-pic chem chem chem chem chem chem"
        "keyboard keyboard keyboard old-cmp old-cmp old-cmp down down down cloud cloud cloud"
        "games games games ipad ipad ipad ipad ipad ipad cloud cloud cloud"
        "twitter twitter twitter pop pop pop old-tv old-tv old-tv old-tv old-tv old-tv";
}


.iphone-txt {
    grid-area: iphone-txt;
}
.title-cd {
    font-family: "Montserrat", serif;
    font-size: 12px;
    color: #9fa3a7;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.text-cd{
    color: #9fa3a7;
    font-family: "Open Sans", sans-serif;
}
.iphone-w{
    width: 55%;
}
h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.iphone-pic {
    grid-area: iphone-pic;
    width: 250px;
    height: 100%;
}

.chem {
    grid-area: chem;
    align-content: center;
}
.head1{
    font-size: 48px;
    font-weight: 400;
    color: #333333;
    font-family: "Arvo", serif;

}
.download{
    color:#27b9c2;
    font-size: 14px;
}

.keyboard {
    grid-area: keyboard;
    background-color: #EF5638;
    height: 350px;
   width: 100%;
   display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: -20px;
    justify-content: center; 
    text-align: center;
}
.keyboard h3{
    color: white;
}
.keyboard a{
    margin-bottom: 200px;
    color: #FFC80D;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;
    text-transform: uppercase;
}

.old-cmp {
    grid-area: old-cmp;
}

.down {
    grid-area: down;
}

.cloud {
    grid-area: cloud;
}

.games {
    grid-area: games;
}

.ipad {
    grid-area: ipad;
}

.twitter {
    grid-area: twitter;
}

.pop {
    grid-area: pop;
}

.old-tv {
    grid-area: old-tv;
}
.parent img{
    width: 100%;
}