:root {
    --font-main: "Alegreya Sans";
    --color-main: #AC9567;
}

/* navnar */
.icon-bakery{
    width: 200px;
}
.nav-item .nav-link {
    transition: 0.3s;
    cursor: pointer;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 400;
    font-family: var(--font-main);

}
.nav-item .nav-link:hover{
    color: var(--color-main);
}
.bg-img{
    background-image: url("./images/drew-coffman-1872.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.navbar{
    background-color: aqua;
}