.navbar li{
    list-style: none;
    float: left;
}
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px; /* Adjust this to control padding */
}
.navbar ul{
    list-style: none;
    color: black;
    overflow: hidden;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.firstDiv{
    background-image: url("./images/drew-coffman-1872.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
}
.navbar a:hover{
    color: goldenrod;
}
.firstDiv img{
    height:48px;
    margin-top:-24px
}
