.padding-section{
    padding: 30px 0;
}
a{
    text-decoration: none;
    color: #ffff;
    font-family: "Roboto", sans-serif;
}
li{
    list-style: none;
    margin-left: 15px;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin: auto;
}
#name a{
    font-family: "Roboto", sans-serif;
    color:  #FF305B;
    font-size: 24px;
    font-weight: 800;   
}
#home{
    /* background-image: url("./Fokir_Images/header.jpeg"); */
    background-size: cover;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8) url("./Fokir_Images/header.jpeg");
    background-position:center;
    background-blend-mode: darken;
    opacity: 0.8;
}
#name, .nav-list{
    display: inline-block;
}
.nav-list li{
    display: inline-block;
}
.nav-list{
    margin-left: 100px;
    padding-left: 100px;
}
.home-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}
.home-content , h3,h1,h4{
    margin-top: 10px;
}
.home-content h3{
    color: white;
    font-size: 24px;
    font-weight: 600;   
    font-family: "Source Sans 3", sans-serif;
}
.home-content h1{
    color: #FF305B;
    font-size: 70px;
    font-weight: 700;
    font-family: "Source Sans 3", sans-serif;
}
.home-content h4{
    color: #ffff;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300px;
    font-size: 26px;
}
/* about css */
.about-me .img-me{
    width: 48%;
    float: left;
    text-align: center;
}
.about-me .about-contnet{
    width: 48%;
    float: right;
    vertical-align: top;
}
.about-me .img-me img{
    width: 100%;
    height: 500px;
}
/* .about-me .img-me .frame{
    width: 300px;
    height: 500px;
    position: relative;
    border: solid #555555 10px;
} */
 .about-me .about-contnet h2{
    color: #333333;
    font-weight: 600;
    font-size: 34px;
 }
 .about-me .about-contnet span{
    color: #FF305B;
 }
 .about-me .about-contnet p{
    color:  #555555;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
 }
 .about-me hr{
    border-top: 1px dotted #555555;
 }
 .about-me .about-contnet .about-list{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    list-style: none;
    padding: 0;
 }
 .about-me .about-contnet .about-btns a{
    transition: 0.3s;
 }
 .about-me .about-contnet .about-btns a:hover {
    background-color: #EC2402;
 }

 .about-me .about-contnet .about-btns .btn1{
    color: white;
    background-color: #FF305B;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 20px;
 }
 .about-me .about-contnet .about-btns .btn2{
    color: white;
    background-color: #FF305B;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 5px;
 }
