.padding-section{
    padding: 30px 0;
}
a{
    text-decoration: none;
    color: #ffff;
    font-family: "Roboto", sans-serif;
}
#home .container .nav-list a{
    transition: 0.3s;
}
#home .container .nav-list a:hover{
    color: #FF305B;
}
li{
    list-style: none;
    margin-left: 15px;
}
*{
    margin: 0;
    padding: 0;
}
.clr{
    clear: both;
}
.container{
    width: 85%;
    margin: auto;
}
#name a{
    font-family: "Roboto", sans-serif;
    color:  #FF305B;
    font-size: 24px;
    font-weight: 800;   
}
#home{
    /* background-image: url("./Fokir_Images/header.jpeg"); */
    background-size: cover;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8) url("./Fokir_Images/header.jpeg");
    background-position:center;
    background-blend-mode: darken;
    opacity: 0.8;
}
#name, .nav-list{
    display: inline-block;
}
.nav-list li{
    display: inline-block;
}
.nav-list{
    margin-left: 100px;
    padding-left: 100px;
    float: right;
}
.nav-bar{
    margin-top: 10px;
}
.home-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}
.home-content , h3,h1,h4{
    margin-top: 10px;
}
.home-content h3{
    color: white;
    font-size: 24px;
    font-weight: 600;   
    font-family: "Source Sans 3", sans-serif;
}
.home-content h1{
    color: #FF305B;
    font-size: 70px;
    font-weight: 700;
    font-family: "Source Sans 3", sans-serif;
}
#home .home-content h4{
    color: #ffff;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 26px;
}
/* about css */
.about-me{
    overflow: hidden;
}
.about-me .img-me{
    width: 48%;
    float: left;
    text-align: center;
}
.about-me .img-me img{
    width: 50%;
}
.about-me .about-contnet{
    width: 48%;
    float: right;
    vertical-align: top;
}
.about-me .img-me img{
    position: absolute;
    width: 60%;
    left: 200px;
    /* border: 3px solid red; */
    /* z-index: 1; */
    /* height: 500px; */
}
/* .about-me .img-me .frame{
    width: 300px;
    height: 500px;
    position: relative;
    border: solid #555555 10px;
} */
 .about-me .about-contnet h2{
    color: #333333;
    font-weight: 600;
    font-size: 34px;
    margin-left: 20px;
    position: relative;
 }
 .about-me .about-contnet h2::before{
    position: absolute;
    background-color: #FF305B;
    width: 5px;
    content: "";
    left: -20px;
    bottom: 2px;
    height: 35px;
 }
 .about-me .about-contnet p{
    color:  #555555;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
 }
 .about-me hr{
    border-top: 1px dotted #555555;
 }
 .about-me .about-contnet .about-list{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    list-style: none;
    padding: 0;
 }
 .about-me .about-contnet .about-btns a{
    transition: 0.3s;
 }
 .about-me .about-contnet .about-btns a:hover {
    background-color: #EC2402;
 }

 .about-me .about-contnet .about-btns .btn1{
    color: white;
    background-color: #FF305B;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 20px;
 }
 .about-me .about-contnet .about-btns .btn2{
    color: white;
    background-color: #FF305B;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 5px;
 }
 .about-me .img-me .frame{
    position: relative;
    border: #FF305B;
    background-color: #EC2402;
 }
/* our services */
#our-services .container  {
    width: 100%;
}
#our-services{
    overflow: hidden;
}
#our-services .head{
    text-align: center;
}
#our-services .container .item{
    width: 21%;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-right: 50px;
}
#our-services .head{
    margin-bottom: 20px;
    border-bottom: #FF305B solid 1px;
    width: 25%;
    margin: auto;
}
#our-services .head h2{
    font-weight: 800;
    font-size: 40px;
    font-family: "Source Sans 3", sans-serif;
    color: #333333;
}
#our-services .container .item h3{
    color: #333333;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
}
#our-services .container .item p{
    color: #555555;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
}
#our-services .container .item i{
    color: #FF305B;
    font-size: 30px;
}
/* POTFOLIO */
#portfolio .container .heading h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    font-family: "Source Sans 3", sans-serif;
    color: #333333;
}
#portfolio .container .nav li{
    display: inline-block;
    color: #333333;
    margin-top: 20px;
}
#portfolio .container .nav{
    text-align: center;
}
#portfolio .container .nav a{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
}
#portfolio .container .nav a:hover{
    color: #FF305B;
}
#portfolio .container img{
    width: 26%;
    margin-top: 40px;
    margin-right: 50px;
}
/* stats */
#stats .container .stat1{
    display: inline-block;
    margin-right: 90px;
    width: 15%;
}
#stats .container{
    text-align: center;
    width: 100%;
}
#stats .container .stat1 i{
    font-size: 40px;
    color: #FF305B;
}
#stats .container .stat1 h3{
    font-weight: 800;
    font-size: 26px;
    font-family: "Source Sans 3", sans-serif;
    color: #333333;
}
#stats .container .stat1 h5{
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    font-family: "Roboto", sans-serif;
}
/* feedback */
#client .head{
    text-align: center;
}
#client .container .feedback {
    background-color: #EC2402;
}
#client .container .img-feed{
    float: left;
}

