

.my-background{
   background-color: transparent;
}
#home{
    /* background-image: url("./images/hero-bg.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-position: center center; 
    opacity: 0.9999;
}
#logo{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home-cap h1{
    color: #FFFFFF;
    font-size: 72px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.navbar-brand, .nav-link{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.text-light{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.text-light h1{
    font-weight: 600;
    font-size: 72px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}
.text-light p{
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.animation-title::after{
    content: '';
    animation-name: typewriter;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.fixed-top:hover{
    background-color: #1E1E1E;
}
@keyframes typewriter {
    0%{
        content: '|';
    }
    2%{
        content: 'de|';
    }
    4%{
        content: 'desi|';
    }
    6%{
        content: 'design|';
    }
    8%{
        content: "designer|";
    }
    10%{
        content: 'de|';
    }
    12%{
        content: 'design|';
    }
    14%{
        content: 'desi|';
    }
    16%{
        content: 'de|';
    }
    18%{
        content: 'deve|';
    }
    20%{
        content: 'develo|';
    }
    22%{
        content: 'developer|';
    }
    24%{
        content: 'develo|';
    }
    26%{
        content: 'deve|';
    }
    28%{
        content: 'de|';
    }
    30%{
        content: '|';
    }
    32%{
        content: 'fr|';
    }
    34%{
        content: 'free|';
    }
    36%{
        content: "freelan|";
    }
    40%{
        content: 'freelancer|';
    }
    45%{
        content: 'freelan|';
    }
    50%{
        content: 'free|';
    }
    55%{
        content: "fr|";
    }
    60%{
        content: '|';
    }
    65%{
        content: 'Pho|';
    }
    70%{
        content: 'Photo|';
    }
    75%{
        content: 'Photogr|';
    }
    80%{
        content: 'Photograph|';
    }
    85%{
        content: 'Photographer|';
    }
    90%{
        content: '|';
    }
}
.mr-3{
    margin-right: 30px;
}
.nav-link{
    color: white !important;
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: #FFFFFF;
    transition: width 0.3s ease;
}
.nav-link:hover::after {
    width: 100%;
}
/* about */

.about-edit .title-left {
    font-size: 2rem;
    position: relative;
    margin-bottom: 20px;
}
.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.progress-color{
    background-color: #CDE1F8;
}
/* services */
.fa-4x,i{
    border: 10px solid #0078FF;
    border-radius: 50%;
    padding: 20px;  
    color: black;
    cursor: pointer;
    transition: 0.4s;
}
.fa-4x:hover{
    border: #CDE1F8 solid 10px;
    background-color: #0078FF;
}
.h2tag{
    font-weight: 700;
    color: #1E1E1E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
}
.line {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}